-
  var header= '#recent projects'


#client
.client
  .client__header=header
  .client__image_one
    a(href='https://shokadinueu.github.io/my-CV/' target="_blank" alt="Link to My-CV project")
      img(src="asset/image/projects/my-cv.jpg", alt="abc")

  .client__image_two
    a(href='https://shokadinueu.github.io/jr-web-dev-test/'
    target="_blank" alt="Link to Jr Dev Test Project")
      img(src="asset/image/projects/jr-dev-test.jpg", alt="abcd")

  .client__image_three
    a(href='https://shokadinueu.github.io/w3school_replica/'
    target="_blank" alt="Link to w3schools-replica Project")
      img(src="asset/image/projects/w3school.jpg", alt="abc")

  .client__image_four
    a(href='https://shokadinueu.github.io/front-end-dev-test-football_formation/'
    target="_blank" alt="Link to football-formation Project")
      img(src="asset/image/projects/football-formation.jpg", alt="abc")
