.client__header {
  color: $color-periwinkle-gray;
  @extend %header;
}

.client__image_one {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 369px;
  height: 125px;
}

.client__image_two {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 369px;
  height: 125px;
}

.client__image_three {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 369px;
  height: 125px;
}

.client__image_four {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 369px;
  height: 125px;
}
